#title {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: black;
  color: white;
  margin: 0 auto;
  padding: 10px;
  font-size: 3.0rem;
}

#list-title {
  text-align: center;
  font-size: 2.5rem;
  margin: 0 auto;
  margin-top: 20px;
  color: white;
}

#starship-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  column-count: 4;
}

#starship-link {
  font-size: 1.8rem;
  background-color: #1D3461;
  /* border: 4px solid black; */
  margin: 15px;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}

#starship-link:hover {
  background-color: #1F487E;
  box-shadow: 0px 0px 20px white;
  font-weight: bold;
}

#load-ships {
  color: white;
  text-align: center;
  font-size: 3.0rem;
}